<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    {{#if ProductCSS}}
      <link rel="stylesheet" href="/assets/css/product.css">
    {{/if}}

      <link rel="stylesheet" href="/assets/css/forms.css">
    
      {{#if loginCSS}}
      <link rel="stylesheet" href="/public/assets/css/auth.css">
    {{/if}}
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="{{#if shopActive}} active {{/if}}" href="/">Shop</a></li>
          <li class="main-header__item"><a class="{{#if ProductsActive}} active {{/if}}" href="/products">Products</a></li>
          {{#if isAuthenticated}}
          <li class="main-header__item"><a class="{{#if CartActive}} active {{/if}}" href="/cart">Cart</a></li>
          <li class="main-header__item"><a class="{{#if OrdersActive}} active {{/if}}" href="/orders">Orders</a></li>          
          <li class="main-header__item"><a class="{{#if AddProductActive}} active {{/if}}" href="/admin/add-product">Add Product</a></li>
          <li class="main-header__item"><a class="{{#if AdminProductsActive}} active {{/if}}" href="/admin/products">Admin products</a></li>
          {{/if}}
        </ul>
      </nav>
       <ul class="main-header__item-list">
         {{#if isAuthenticated}}

         <li class="main-header__item">
                <form action="/logout" method="POST">
                  <button type="submit">Logout</button>
                </form>
            </li>
            
          {{else}}
             <li class="main-header__item">
                <a class="{{#if loginActive}} active {{/if}}" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </header>

    {{{body}}}
  </body>

</html>